
    <aside id="left-panel" class="left-panel">
      <nav class="navbar navbar-expand-sm navbar-default">
          <div id="main-menu" class="main-menu collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a routerLink="/"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                  </li>
                  <li class="menu-title">Modules</li><!-- /.menu-title -->
                  <li>
                        <a routerLink="/products"> <i class="menu-icon  ti-gift"></i>Products </a>
                 </li>

                 <li>
                        <a routerLink="widgets.html"> <i class="menu-icon fa fa-building-o"></i>Invoices </a>
                 </li>

                 <li>
                        <a routerLink="widgets.html"> <i class="menu-icon fa fa-money"></i>Quotes </a>
                 </li>
                  
  
              </ul>
          </div><!-- /.navbar-collapse -->
      </nav>
  </aside>
  <!-- /#left-panel -->