
    <aside id="left-panel" class="left-panel">
      <nav class="navbar navbar-expand-sm navbar-default">
          <div id="main-menu" class="main-menu collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a routerLink="/"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                  </li>
                  <li class="menu-title">Modules</li><!-- /.menu-title -->

                  <li>
                        <a routerLink="/quotes"> <i class="menu-icon fa fa-money"></i>Booking </a>
                 </li>
                 
                  <li>
                        <a routerLink="/products"> <i class="menu-icon fa fa-suitcase"></i>Packages </a>
                 </li>

                 <li>
                        <a routerLink="/invoices"> <i class="menu-icon fa fa-building-o"></i>Invoices </a>
                 </li>

                 <li>
                        <a routerLink="/tickets"> <i class="menu-icon fa fa-user"></i>Support </a>
                 </li>           
  
              </ul>
          </div><!-- /.navbar-collapse -->
      </nav>
  </aside>
  <!-- /#left-panel -->