<div class="animated fadeIn">
    <div class="row">
 
      <!-- {{quotes|json}} -->

        <div class="col-md-4" *ngFor="let quote of quotes" >
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">{{quote.subject}}</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">{{quote.description | slice:0:100}}</p>
                  <p><i class="fa fa-clock-o"></i> {{quote.createdtime}}</p>
                  <a routerLink="detail/{{quote.record}}" class="btn btn-outline-primary">Read More</a>
                </div>
                
            </div>
        </div>

        


    </div><!-- .row -->
</div><!-- .animated -->