  
  <div class="animated fadeIn">
    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
						<div class="stat-heading"><span style="color:black">Standard Itinerary Quote</span></div>
						<div class="stat-heading"><b>10</b><span style="color:black"> Total Quotes</span></div>
                        <div class="stat-icon">                           
                        </div>
                        <div class="row">
							<div class="col-lg-3 ">
								<div class="dib flat-color-1"> 
								<i class="pe-7s-gift"></i>
								</div>
							</div>
                            <div class="col-lg-9 text-left dib">							
                                <div class="stat-heading"><span style="color:black"> Package tours are excursions or holidays which package a variety of services together to make a single combined trip.</span></div>
                            </div>
                        </div>
						
                    </div>
                </div>
				<button _ngcontent-scw-c7="" class="btn btn-info pull-right" type="button">
							Create Standard Itinerary Quote
				</button>
            </div>
        </div>
		<!-- Package 2 -->
		<div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
						<div class="stat-heading"><span style="color:black">TDU Packages</span></div>
						<div class="stat-heading"><b>25</b><span style="color:black">  Packages</span></div>
                        <div class="stat-icon">                           
                        </div>
                        <div class="row">
							<div class="col-lg-3 ">
								<div class="dib flat-color-1"> 
								<i class="pe-7s-gift"></i>
								</div>
							</div>
                            <div class="col-lg-9 text-left dib">							
                                <div class="stat-heading"><span style="color:black"> Package tours are excursions or holidays which package a variety of services together to make a single combined trip.</span></div>
                            </div>
                        </div>
						
                    </div>
                </div>
				<button _ngcontent-scw-c7="" class="btn btn-info pull-right" type="button">
							Buy TDU Packages
				</button>
            </div>
        </div>
		<!-- Package 3 -->
		<div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
						<div class="stat-heading"><span style="color:black">Custom Packages</span></div>
						<div class="stat-heading"><b>2</b><span style="color:black"> Custom Packages</span></div>
                        <div class="stat-icon">                           
                        </div>
                        <div class="row">
							<div class="col-lg-3 ">
								<div class="dib flat-color-1"> 
								<i class="pe-7s-gift"></i>
								</div>
							</div>
                            <div class="col-lg-9 text-left dib">							
                                <div class="stat-heading"><span style="color:black"> Package tours are excursions or holidays which package a variety of services together to make a single combined trip.</span></div>
                            </div>
                        </div>
						
                    </div>
                </div>
				<button _ngcontent-scw-c7="" class="btn btn-info pull-right" type="button">
							Build Your Own Package
				</button>
            </div>
        </div>
		<!-- Package 4 -->
		<div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
						<div class="stat-heading"><span style="color:black">Hotels</span></div>
						<div class="stat-heading"><b>2</b><span style="color:black"> Hotels </span></div>
                        <div class="stat-icon">                           
                        </div>
						<div class="row">
							<div class="col-lg-3">
								<div class="dib flat-color-1"> 
								<i class="pe-7s-gift"></i>
								</div>
							</div>
                            <div class="col-lg-9 text-left dib">							
                                <div class="stat-heading"><span style="color:black"> TBook your Hotel in Content online. No reservation costs. Great rates. Apartments. Hotels. Villas. Hostels.<br/><br/></span></div>
                            </div>
                        </div>					
                    </div>
                </div>
				<button _ngcontent-scw-c7="" class="btn btn-info pull-right" type="button">
							Select Hotels
				</button>
            </div>
        </div>


    </div>
     
    <div class="clearfix"></div>
    <!-- Orders -->
    <div class="orders">
        <div class="row">            
			<div class="col-lg-6 col-md-6">
				<img src="assets/images/iframe/b.jpg" alt="">
			</div>	
			<div class="col-lg-6 col-md-6">
				<img src="assets/images/iframe/e.png" alt="">
			</div>
			<div class="col-lg-6 col-md-6">
				<img src="assets/images/iframe/a.png" alt="">
			</div>
				<div class="col-lg-6 col-md-6">
				<img src="assets/images/iframe/d.png" alt="">
			</div>
        </div>
    </div>
    <!-- /.orders -->


    
</div>
<!-- .animated -->