

    
        <div class="card">
          <div class="card-header">
              <strong class="card-title">Booking</strong>
          </div>
          <div class="card-body">

              <div class="row">
                  <div class="col-md-6">
                    
                      <div class="card-body"> 
                                  <div class="card-title">
                                      <h3 class="text-center">{{details.title}}</h3>
                                  </div>
                                  <hr>
                                  <form #bookFrm="ngForm" (ngSubmit)="quote(bookFrm.value)" novalidate="novalidate">

                                      <div class="row">
                                         
                                          <div class="col-6">
                                              <label for="cc-exp" class="control-label mb-1">Price : {{details.cost}}</label>
                                          </div>
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="cc-payment" class="control-label mb-1">Persons</label>
                                          <input type="number"  name="persons" #persons="ngModel"  [(ngModel)]="persn.person"    class="form-control" min="1" max="{{details.avaible}}"  >
                                      </div>
                                      
                                     
                                      <div>
                                          <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                              <i class="fa fa-lock fa-lg"></i>&nbsp;
                                              <span id="payment-button-amount">Book</span>
                                              <span id="payment-button-sending" style="display:none;">Sending…</span>
                                          </button>
                                      </div>
                                  </form> 
                      </div>




                  </div>
                  <div class="col-md-6">
                      <div class="card-title">
                          <h3 class="text-center">Table</h3>
                      </div>
                   <table class="table">
                          <thead>
                            <tr>
                                <th scope="col">Persons</th> 
                                <th>{{persn.person}}</th>
                            </tr>
                            <tr>
                                <th scope="col">Tax</th> 
                                <th>0</th>
                            </tr>
                            <tr>
                                <th scope="col">Total</th> 
                                <th>{{persn.person*details.cost}}</th>
                            </tr>
                        </thead> 
                  </table>
                    
                  </div>
              </div>


              
      </div>
    </div>
  