<div class="animated fadeIn">
        <div class="row">
     
    
    
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/ue0AB6J.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Card Image Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-body">
                    <button type="button" class="btn btn-outline-primary">Read More</button>
                     
                      <button type="button" class="btn btn-info pull-right"><small>Form</small> $890</button>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/hrS2McC.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Card Image Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
    
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-primary">Read More</button>
                          &nbsp;  &nbsp;  &nbsp;
                          <button type="button" class="btn btn-info pull-right"><small>Form</small> $890</button>
                      </div>
    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/MUBS4Gh.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Card Image Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
    
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-primary">Read More</button>
                          &nbsp;  &nbsp;  &nbsp;
                          <button type="button" class="btn btn-info pull-right"><small>Form</small> $890</button>
                      </div>
    
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/MUBS4Gh.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Card Image Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
    
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-primary">Read More</button>
                          &nbsp;  &nbsp;  &nbsp;
                          <button type="button" class="btn btn-info pull-right"><small>Form</small> $890</button>
                      </div>
    
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://i.imgur.com/ue0AB6J.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Card Image Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
    
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-primary">Read More</button>
                          &nbsp;  &nbsp;  &nbsp;
                        <button type="button" class="btn btn-info pull-right"><small>Form</small> $890</button>
                      </div>
    
                </div>
            </div>
    
    
        </div><!-- .row -->
    </div><!-- .animated -->