 
<div *ngIf="loder" style="text-align: center; margin-top: 200px;margin-bottom: 200px;">
    <div class="loader">Loading...</div>
   </div>

<div class="animated fadeIn" *ngIf="!loder">

    <div class="ui-typography">
        <div class="row">
            <div class="col-md-4"> 
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title" v-if="headerText">
                            <i class="fa fa-money"></i>
                          Image</strong>
                    </div>
  
                    <div class="card-body"> 
                          <img src="{{usrSer.path}}{{product.imagepath}}">
                          <br>
                          <br>
                          <!-- <button type="button" class="btn btn-info ">Book Now</button> -->
                          <a routerLink="/products/book-now/{{product.record}}"
                          [queryParams]="{ title: product.productname, price:product.unit_price, avaible: product.qtyinstock | number: '1.0-0' }"
                           class="btn btn-info ">Book Now</a>
                    </div>
                </div> 
            </div>

            <div class="col-md-8"> 
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title" v-if="headerText">
                            <i class="fa fa-money"></i>
                          Packages Details</strong>
                    </div>
  
                    <div class="card-body"> 
                          <h4><b>{{product.productname}}</b></h4>
                       
                          <p><b>Price : </b>{{product.unit_price}}</p>
                          <p><b>Description : </b>{{product.description}}</p>
                          
                       
                    </div>
                </div> 
            </div>


            </div>
            </div>
  
  
  
              </div><!-- .animated -->