
<div *ngIf="!loader" style="text-align: center; margin-top: 200px;margin-bottom: 200px;">
    <div class="loader">Loading...</div>
    </div>




<div class="card" *ngIf="loader">
  <div class="card-header">
      <strong class="card-title">Support
        <small><a routerLink="edit" class="btn btn-primary float-right mt-1">Add</a></small>
      </strong>
  </div> 
</div>

<div class="row" *ngIf="records">
    
        <div class="col-md-4" >
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">No Tickets  </strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><b>Hi </b> Tickets not availble on your account</p> 
                        <a class="btn btn-success " routerLink="edit">Create</a>
                    </div>
                </div>
            </div>
    </div>

<div class="row" *ngIf="!records">
    
    <div class="col-md-4" *ngFor="let ticket of tickets">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">{{ticket.title}} <small><span class="badge badge-success float-right mt-1">{{ticket.status}}</span></small></strong>
                </div>
                <div class="card-body">
                    <p class="card-text"><b>Priority : </b> {{ticket.priority}}</p>
                    <p class="card-text"><b>Severity : </b> {{ticket.severity}}</p>
                    <p class="card-text"><b>Date : </b> {{ticket.createdtime}}</p>
                    <a class="btn btn-success " routerLink="/support/detail/{{ticket.ticketid}}">Read More</a>
                </div>
            </div>
        </div>
</div>
