<!-- fa-bug -->
<br><br><br>
<div class="animated fadeIn">
        <div class="row">
      
          <div class="col-md-2"></div>
      
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">Page Not Found</strong>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto d-block">
                         
                           <img src="assets/images/site.png" alt="under development">
                        </div>
                         
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            </div>
            </div>
      <br><br><br><br><br><br><br>   