<div *ngIf="loder" style="text-align: center; margin-top: 200px;margin-bottom: 200px;">
    <div class="loader">Loading...</div>
   </div>

<div class="card" *ngIf="!loder">
  <div class="card-header">
      <strong class="card-title"><span>Support</span>
        <small><a routerLink="/support/" class="btn btn-primary float-right mt-1">Back</a></small>
      </strong>
  </div>
  <div class="card-body">

    
        <form #ticket="ngForm" (ngSubmit)="ticket.valid && ticketForm(ticket.value)"  novalidate>
          <!-- {{ticket.value | json}} -->
          <div class="row">
            <div class="form-group col-md-12">
              <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Title</mat-label>
                  <input type="text" name="title" ngModel class="example-full-width" required  matInput>
              </mat-form-field>
            </div>

            <div class="form-group col-md-6">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Priority</mat-label>
                    <mat-select ngModel required name="priority"> 
                      <mat-option value="Low"  >Low</mat-option>
                      <mat-option value="Normal">Normal</mat-option>
                      <mat-option value="High">High</mat-option>
                      <mat-option value="Urgent">Urgent</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="form-group col-md-6">
                  <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Status</mat-label>
                      <mat-select ngModel required name="status"> 
                        <mat-option value="Open"  >Open</mat-option>
                        <mat-option value="In Progress">In Progress</mat-option>
                        <mat-option value="Wait For Response">Wait For Response</mat-option>
                        <mat-option value="Closed">Closed</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>


                <div class="form-group col-md-6">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Product Name</mat-label>
                        <input type="text" name="product_name" ngModel matInput [matAutocomplete]="auto"  >
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of products" [value]="option.record" >
                                {{option.name}}
                              </mat-option>
                         
                        </mat-autocomplete>
                    </mat-form-field>
                  </div>

                  <div class="form-group col-md-6">
                      <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Severity</mat-label>
                          <mat-select ngModel  name="severity"> 
                            <mat-option value="Minor"  >Minor</mat-option>
                            <mat-option value="Major">Major</mat-option>
                            <mat-option value="Feature">Feature</mat-option>
                            <mat-option value="Critical">Critical</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="form-group col-md-6">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Service Contract</mat-label>
                            <input type="text" name="service_contract" ngModel matInput [matAutocomplete]="autoser"  >
                            <mat-autocomplete #autoser="matAutocomplete">
                                <mat-option *ngFor="let option of options" [value]="option" >
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                      </div>
    
                      <div class="form-group col-md-6">
                          <mat-form-field appearance="outline" class="example-full-width">
                              <mat-label>Category</mat-label>
                              <mat-select ngModel  name="category"> 
                                <mat-option value="Big Problem"  >Big Problem</mat-option>
                                <mat-option value="Small Problem">Small Problem</mat-option>
                                <mat-option value="Other Problem">Other Problem</mat-option> 
                              </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="form-group col-md-12 ">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Description</mat-label>
                                <textarea name="description" matInput ngModel  ></textarea>
                              </mat-form-field>
                          </div>
             <div class="form-group col-md-12 ">
            <input type="hidden" name="module" ngModel="ticket" >
            <input type="hidden" name="view" ngModel="create" > 
            <button type="submit" [disabled]="!ticket.valid " class="btn btn-primary btn-block">Create</button>
             </div>
          </div>
          </form>
    




      
  </div>
</div>
