
    <div class="sufee-login align-content-center">
            <div class="row" style="margin: 0;">            
                <div class="col-md-8 col-lg-8" style="padding-left: 0;">
                    <div class="left-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="assets/images/slider2.jpg"> 
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assets/images/slider1.jpg">                 
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="assets/images/slider3.jpg"> 
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                </div>
                </div>           
                <div class="col-md-4 col-lg-4">
                     <div class="login-body">
                         <br/><br/>
                    <div class="login-logo">
                        <a href="index.html">
                            <!-- <img class="align-content" src="images/logo.png" alt=""> -->
                            <img class="align-content" src="assets/images/gtx.png"/>
                        </a>
                    </div>
                    <div class="login-form">
                            <div *ngIf="errMsg" class="sufee-alert alert with-close alert-danger alert-dismissible fade show"> 
                                    {{errMsg}} 
                            </div> 
    
                            <div *ngIf="regStatus" class="alert alert-success" role="alert">
                                Your trial <b>subscription</b> has been created. Please check your Inbox and Spam/Junk folders for the login details
                                  
                            </div>
                            <div *ngIf="for_pass" class="alert alert-success" role="alert">
                                    Please check your Inbox and Spam/Junk folders for the login details
                                      
                                </div>
                            
                        <form #loginFrm="ngForm" (ngSubmit)="loginFrm.valid && loginUser(loginFrm)" novalidate>
                             <div class="form-group">
                                <label>Welcome Back</label>
                                <h4>Login in to your account</h4>
                            </div>
                            <div class="form-group">
                                <label class="label-txt">Email address</label>
                                <i class="ti-email icon"></i>
                                <input type="email" name="email" ngModel class="form-control in-hegiht" required placeholder="john@turtler.com">
                            </div>
                            <div class="form-group"> 
                                <i class="ti-unlock icon"></i>                          
                                <input type="password" name="password" ngModel class="form-control in-hegiht" required placeholder="Enter Password">
                            </div>
                            <div class="checkbox">                           
                                <label class="pull-right">
                                    <a routerLink="/forgot-password">Forgot Password?</a>
                                </label>
    
                            </div>
                            <button type="submit" [disabled]="!loginFrm.valid"  class="btn btn-primary btn-flat m-b-30 m-t-30">Log In</button>
                            <!--div class="social-login-content">
                            <div class="social-button">
                                <button type="button" class="btn social btn-danger btn-flat btn-addon mb-3"><i class="fa fa-google"></i>Login in with Gmail</button>
                                
                            </div>
                            </div -->
                            <div class="register-link m-t-15 text-center">
                                <p class="acc-p">Not a partner? <a routerLink="/register"> Create New Account</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
        <script src="assets/js/main.js"></script>