<div *ngIf="loder" style="text-align: center; margin-top: 200px;margin-bottom: 200px;">
    <div class="loader">Loading...</div>
   </div>
 
<div class="card" *ngIf="!loder">
  <div class="card-header">
      <strong class="card-title">Edit - Profile</strong>
  </div>
  <div class="card-body"> 
      <div class="login-form">
          <form #regForm="ngForm" (ngSubmit)="regForm.valid && editUser(regForm.value)" novalidate>

             <div class="row"> 
                 <div class="form-group col-md-6">
                      <label>First Name</label>
                      <input type="text" name="firstname" [ngModel]="profile.firstname" class="form-control" placeholder="First Name" required>
                  </div>
                  <div class="form-group col-md-6">
                          <label>Last Name</label>
                          <input type="text" name="lastname" [ngModel]="profile.lastname"  class="form-control" placeholder="Last Name" required>
                  </div>

                  
                  <div class="form-group col-md-6">
                          <label>Mobile Phone</label>
                          <input type="number" name="mobile" [ngModel]="profile.mobile" class="form-control" placeholder="Mobile Phone" required>
                  </div>

                  <div class="form-group col-md-6">
                      <label>Home Phone</label>
                      <input type="number" name="homephone" [ngModel]="profile.homephone" class="form-control" placeholder="Home Phone" >
                  </div>
                  <div class="form-group col-md-6">
                          <label>Date of Birth</label>
                          <input type="date" name="birthday" [ngModel]="profile.birthday" class="form-control" placeholder="Date of Birth" >
                  </div>

                  <div class="form-group col-md-6">
                      <label>P.O. Box</label>
                      <input type="number" name="mailingpobox" [ngModel]="profile.mailingpobox" class="form-control" placeholder="P.O. Box" required >
                  </div>
                  <div class="form-group col-md-6">
                      <label>City</label>
                      <input type="text" name="mailingcity" [ngModel]="profile.mailingcity" class="form-control" placeholder="City" required >
                  </div>
                  <div class="form-group col-md-6">
                      <label>Country</label>
                      <input type="text" name="mailingcountry" [ngModel]="profile.mailingcountry" class="form-control" placeholder="Country" required >
                  </div>
             </div>
               <input type="hidden" name="record" [ngModel]="profile.record">
               <input type="hidden" name="module" ngModel="user">
               <input type="hidden" name="view" ngModel="update">
              <button type="submit" [disabled]="!regForm.valid" class="btn btn-primary btn-flat m-b-30 m-t-30">Update</button>
              
               
          </form>
          
      </div>
     
  </div>
</div>