<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header bg-primary" role="tab" id="headingTwo2" (click)="toggle();">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="text-white pull-left">
          Choose Season </h5>
          <i [class.ti-arrow-circle-down]="tog" [class.ti-arrow-circle-up]="!tog" class="text-white pull-right"></i>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
      data-parent="#accordionEx" >
      <div class="card-body">
        <div class="form-group">
              <span class="col-lg-4"><input type="radio" name="seasontype" value="high" >
             &nbsp;&nbsp;<label class=" form-control-label">High Season(1st July to 21st Dec)</label>
              </span>

              <span class="col-lg-4"><input type="radio" name="seasontype" value="low" >
                &nbsp;&nbsp; <label class=" form-control-label">Low Season(1st Jan to 30th Jun)</label>
              </span>

              <span class="col-lg-4"><input type="radio" name="seasontype" value="newyear" >
                &nbsp;&nbsp; <label class=" form-control-label"> Christmas and New Year Eve</label>
              </span>
        </div>
      <div class="clearfix"></div>
      <div class="form-group">
        <span class="col-lg-4">
         <label class=" form-control-label">  Date of Travel </label>
          <!--<mat-form-field>
            <input matinput [matDatepicker]="dateoftravel">
            <mat-datepicker-toggle [for]="dateoftravel" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dateoftravel ></mat-datepicker>
          </mat-form-field>-->
          &nbsp;&nbsp; <input type="date" name="dateoftravel" />
        </span>
        <span class="col-lg-4">
          <label class=" form-control-label">No of Adults</label>
          &nbsp;&nbsp;  <input type="text" name="noofadults" />
          </span>
          <span class="col-lg-4">
            <label class=" form-control-label">  No of Childs</label>
            &nbsp;&nbsp;   <input type="text" name="noofchilds" />
            </span>
      </div>
      <div class="clearfix"></div>
      <div class="form-group">
        <button type="button" class="btn btn-primary pull-right">Next</button>
      </div>
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header bg-primary" role="tab" id="headingThree3" (click)="toggle();">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0 text-white pull-left">
          Select itinerary
        </h5>
        <i [class.ti-arrow-circle-down]="tog" [class.ti-arrow-circle-up]="!tog" class=" text-white pull-right" ></i>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
      data-parent="#accordionEx">
      <div class="card-body">
       <input type="checkbox" name="productid" /> Product 1
      </div>
    </div>

  </div>
  <!-- Accordion card -->

</div>
<!-- Accordion wrapper -->