
<form #cmtFrm="ngForm" (ngSubmit)="cmtFrm.valid && addCmt()">
<mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Add Your Comment Here...</mat-label>
    <textarea name="comments" matInput [(ngModel)]="commentData" required></textarea>
  </mat-form-field>

  <button type="submit" [disabled]="!cmtFrm.valid"  class="btn btn-primary ">Submit</button>
</form>
<br>
<ul class="list-group">
    <li *ngFor="let comment of comts" class="list-group-item">
     
      {{comment.comments}} &nbsp; &nbsp;
      <!-- <a *ngIf="comment.file_name!=''" download href="{{usSer.path}}{{comment.file_name}}" class="fa fa-download"  ></a> &nbsp; &nbsp; -->
     
      <span class="badge badge-primary badge-pill">{{comment.createdtime}}</span>
      <p  *ngIf="comment.file_name!=''"> <img src="{{usSer.path}}{{comment.file_name}}" alt="{{comment.filename}}" style="height: 50px;"></p>
      <p>{{comment.owner}}</p>
    </li>
     
  </ul>

