<div class="col-lg-12">
  <div class="card">
      <div class="card-header">
          <strong class="card-title">Invoice List</strong>
      </div>
      <div class="card-body">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">#</th>
                      <th scope="col">Invoice Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Bill City</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ngFor="let inv of invoices">
                      <td scope="row">1</td>
                      <td>{{inv.record}}</td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>